$white: #fff;
$black: #000;
$grey: #999;
$light-grey: #e9e9e9;
$link-blue: #268bd2;
$pink: #ef6a7c;
$green: #688989;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*::selection{background-color: $pink}

html,
body {
  margin: 10px;
  padding: 0px;
  background-color: $white;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $green;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover {
    background: $pink;
    color: $white;
  }
}

img {
  max-width: 100%;
}

.content img {
  max-width: 50%;
}

// Typography
//
// Headings, body text, lists, and other misc typographic elements.

html, body {
  color: $black;
  font-family: Avenir, sans-serif;
  font-size: 1.05em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, header *, p, blockquote, a {
  font-family: Avenir, sans-serif;
  // font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 0;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

h4, h5, h6 {
  font-size: 1rem;
  margin-top: 1rem;
}

strong {
  color: $black;
  font-weight: 600;
}

ul, ol, dl {
  margin-bottom: 1rem;
  margin-top: 0;
  ul, ol, dl {
    margin-bottom: 0;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  border: 0;
  border-top: 2px solid $light-grey;
  clear: left;
  margin: 1.5rem 0;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    border-bottom: 1px dotted #e5e5e5;
    cursor: help;
  }
}

blockquote {
  border-left: .20rem solid $light-grey;
  margin: .8rem 0;
  padding: 0 0 0 1rem;

  p:last-child {
    margin-bottom: 0;
  }
}

header {
  background-color: $pink;
  font-family: 'Special Elite', cursive;
  font-size: 5em;
  font-weight: bold;
  padding: 0.75em 0 0.5em;
  text-align: center;
  * {
    color: $black;
    font-family: 'Special Elite', cursive;
  }
}

.footer {
  color: $grey;
  font-size: 0.8em;
  text-align: right;
}

.tags {
  background-color: $green; //#d550b4;
  margin: 1em 0;
  padding: 0.5em;
  text-align: right;
}

.tag {
  border: 2px solid $white;
  border-radius: 30px;
  color: $white;
  font-size: 0.9em;
  font-weight: 500;
  margin: 0.2em;
  padding: 0.1em 1em;
}

.content {
  margin: 0 auto;
  max-width: 50em;
  min-height: 65vh;
  padding: 1em 0.5em;
}

.cover-array img {
  border: 2px solid black;
  float: left;
  margin: 2px;
  max-width: 140px;
}

.post-nav {
  border-top: 1px solid $light-grey;
  margin: 1.5em 0;
  padding: 1em;
}
.previous, .next {
  display: block;
  float: left;
  padding: 0.5em;
  width: 50%;
}
.next {
  text-align: right;
}

.main-menu-link {
  margin: 0.25em 0;
  padding: 0.25em 0;
  a {
    border-left: 2px solid $pink;
    padding: 0.25em;
  }
}

@media screen and (max-width: 856px) {
  header {
    font-size: 2em;
  }
  .tag {
    font-size: 0.7em;
  }
  .previous, .next {
    float: none;
    font-size: 0.8em;
    width: 100%;
  }
}